<div class="container">
    <header class="d-flex flex-wrap justify-content-center align-items-center py-3 mb-4 border-bottom">
      <a routerLink="/auth/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="assets/logo.png" class="img-fluid ms-4" alt="logo" width="60px">
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item d-flex">
            <a class="btn btn-outline-secondary me-2" routerLink="/auth/home" routerLinkActive="active">Home</a>
            <a class="btn btn-outline-secondary me-2" routerLink="/auth/maintenance" routerLinkActive="active">Maintenance</a>
            <a class="btn btn-outline-secondary me-4" routerLink="/auth/favorites" routerLinkActive="active">Favorites</a>
        </li>
      </ul>
    </header>
  </div>
