table td:nth-child(1) {
    width: 10%;
}

table td:nth-child(2) {
    width: 30%;
}

table td:nth-child(3) {
    width: 20%;
}

table td:nth-child(4) {
    width: 20%;
}

table td:nth-child(5) {
    width: 20%;
}